{% extends 'base.html.twig' %}

{% block title %}Level index{% endblock %}

{% block body %}
    <h1>Level index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Dificultad</th>
                <th>Game</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td>{{ level.id }}</td>
                <td>{{ level.nombre }}</td>
                <td>{{ level.descripcion }}</td>
                <td>{{ level.dificultad }}</td>
                <td>{{ level.game }}</td>
                <td>
                    <a href="{{ path('app_level_show', {'id': level.id}) }}">show</a>
                    <a href="{{ path('app_level_edit', {'id': level.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_level_new') }}">Create new</a>
    <a href="{{ path('app_formularios') }}">Volver al inicio</a>
{% endblock %}
