{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Version</th>
                <th>Activo</th>
                <th>Imagen_portada</th>
                <th>Fecha_creacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.nombre }}</td>
                <td>{{ game.descripcion }}</td>
                <td>{{ game.version }}</td>
                <td>{{ game.activo ? 'Yes' : 'No' }}</td>
                <td>{{ game.imagenPortada }}</td>
                <td>{{ game.fechaCreacion ? game.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_game_new') }}">Create new</a>
    <a href="{{ path('app_formularios') }}">Volver al inicio</a>
{% endblock %}
