{% extends 'base.html.twig' %}

{% block title %}UserPlayer index{% endblock %}

{% block body %}
    <h1>UserPlayer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jugador</th>
                <th>Usuario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_player in user_players %}
            <tr>
                <td>{{ user_player.id }}</td>
                <td>{{ user_player.player.nombre }}</td>
                <td>{{ user_player.user.username }}</td>
                <td>
                    <a href="{{ path('app_user_player_show', {'id': user_player.id}) }}">show</a>
                    <a href="{{ path('app_user_player_edit', {'id': user_player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_player_new') }}">Create new</a>
    <a href="{{ path('app_formularios') }}">Volver al inicio</a>
{% endblock %}
